<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Main Page</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
	</head>
	<body>
		<header>
			<p class="userInfo" th:text="#{message.odabirJezika}">Odabir jezika</p>
			<select id="locales">
				<option value="hr"
					th:selected="${#locale.language == 'hr'}"
					th:text="#{message.language.hr}">
				</option>
				<option value="en"
					th:selected="${#locale.language == 'en'}"
					th:text="#{message.language.en}">
				</option>
				<option value="jp"
					th:selected="${#locale.language == 'jp'}"
					th:text="#{message.language.jp}">
				</option>
			</select>
			<form sec:authorize="isAuthenticated()" method="POST" th:action="@{/logout}">
				<div class="userInfo" th:text="#{message.ulogiranKao}"></div>
				<div class="userInfo" sec:authentication="name">>Korisnik</div>
				<input type="submit" th:value="#{message.odjava}" class="btnbtn-danger" />
			</form>
		</header>
	    <h1 style="padding-left: 5px;" th:text="#{message.title}">Conference 2018</h1>
	    <img class="logo" src="/images/logo.png" height="100" width="400" /><br></br>
	    <a class=fontUp href="predavanja/novoPredavanje" style="padding-left: 5px;"th:text="#{message.novoPredavanje}">Predloži novno predavanje</a>
	    <a th:href="@{predavanja/list}" style="padding-left: 5px;" th:text="#{message.listaSvihPredavanja}">Lista svih predavanja</a>
	    
	    <div th:fragments="js">
	    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	    </div>
	</body>
</html>